body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f0f0f0;
}
.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
h1, h2 {
    text-align: center;
}
label {
    display: block;
    margin-bottom: 5px;
}
input[type="text"], input[type="password"],input[type="email"] ,select {
    width: 96%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 15px;
}
button {
    padding: 10px 15px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
}
button:hover {
    background-color: #0056b3;
}
.hidden {
    display: none;
}
.image-container {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}
.image-container div {
    text-align: center;
    cursor: pointer;
}
.image-container img {
    width: 150px;
    height: 150px;
}